<!DOCTYPE html>
<html>

    <head>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <title>Lambda Graphs</title>
    </head>
    <body>
        <script>
            var csv = `{{ csv }}`;
var csvtable = csv.split("\\n").map(function(row){return row.split(",");})
var len = {{ size }};
if (len == -1) len = csvtable.length;
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var colorNames = Object.keys(window.chartColors);
CanvasJS.addCultureInfo("fr",
                        {
                            decimalSeparator: ",",// Observe ToolTip Number Format
                            digitGroupSeparator: " ", // Observe axisY labels
                            days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                            shortMonths: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"]
                        });
window.onload = function () {
    window.chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        culture: "fr",
        animationEnabled: true,
        zoomEnabled: true,
        exportEnabled: true,
        title: {
            text: "Speedtests"
        },
        data: [{
            type: "area",
            dataPoints: []
        }],
        axisX: {
            title: "Time",
            includeZero: true,
            crosshair: {
                enabled: true,
                snapToDataPoint: true
            }
        },
        axisY: {
            logarithmic: true,
            includeZero: true
        },
        toolTip: {
            shared: true
        }
    });

    addData(5);
    addData(6, 1, "blue");
    addData(7, 1, "red");
    window.chart.render();

    function addData(id, factor=1, color=colorNames[window.chart.options.data.length % colorNames.length]) {
        var newDataset = {
            type: "line",
            name: csvtable[0][id],
            showInLegend: true,
            color: color,
            dataPoints: [],
            xValueType: "dateTime",
            yValueType: "number"
        };

        var length = Math.min(csvtable.length, len)
        for (var index = 1; index < length; ++index) {
            var val = null
            if (csvtable[index].length >= id)
                val = csvtable[index][id]/factor;
            if (val === "97.798") {console.log(csvtable[index]);}
            if (val === undefined || val === 0) {val = null}
            newDataset.dataPoints.push({x: new Date(csvtable[index][3]), y: val});
            //newDataset.dataPoints.push({x: index,y: val});
        }

        window.chart.options.data.push(newDataset);
    }
}
        </script>
        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>
    </body>

</html>
